<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reengineering.ddd.teamai.mybatis.mappers.AccountsMapper">
  <resultMap id="account" type="reengineering.ddd.teamai.model.Account">
    <id property="identity" column="id" jdbcType="BIGINT" javaType="String"/>
    <association property="description" javaType="reengineering.ddd.teamai.description.AccountDescription">
      <constructor>
        <arg column="provider" jdbcType="VARCHAR" javaType="String"/>
        <arg column="provider_id" jdbcType="VARCHAR" javaType="String"/>
      </constructor>
    </association>
  </resultMap>

  <select id="findAccountByUserAndId" resultMap="account">
    SELECT account.id,
           account.provider,
           account.provider_id
    FROM accounts account
    WHERE account.user_id = #{user_id}
      AND account.id = #{id}
  </select>

  <insert id="insertAccount" useGeneratedKeys="true" keyProperty="holder.id" keyColumn="id" parameterType="reengineering.ddd.mybatis.support.IdHolder">
      INSERT INTO accounts (provider, provider_id, user_id)
      VALUES (#{description.provider}, #{description.providerId}, #{user_id})
      on conflict (provider, provider_id) do nothing
  </insert>
</mapper>
