<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.businessdrivenai.persistence.mybatis.mappers.DiagramNodesMapper">

  <resultMap id="logicalEntity" type="com.businessdrivenai.domain.model.LogicalEntity">
    <id property="identity" column="le_id" jdbcType="VARCHAR" javaType="String"/>
    <association property="description" javaType="com.businessdrivenai.domain.description.LogicalEntityDescription">
      <constructor>
        <arg column="le_type" jdbcType="VARCHAR" typeHandler="com.businessdrivenai.persistence.mybatis.typehandler.LogicalEntityTypeHandler" javaType="com.businessdrivenai.domain.description.LogicalEntityDescription$Type"/>
        <arg column="le_sub_type" jdbcType="VARCHAR" typeHandler="com.businessdrivenai.persistence.mybatis.typehandler.SubTypeHandler" javaType="com.businessdrivenai.domain.description.LogicalEntityDescription$SubType"/>
        <arg column="le_name" jdbcType="VARCHAR" javaType="String"/>
        <arg column="le_label" jdbcType="VARCHAR" javaType="String"/>
        <arg column="le_definition" jdbcType="OTHER" typeHandler="com.businessdrivenai.persistence.mybatis.typehandler.EntityDefinitionHandler" javaType="com.businessdrivenai.domain.description.EntityDefinition"/>
        <arg column="le_status" jdbcType="VARCHAR" javaType="String"/>
      </constructor>
    </association>
  </resultMap>

  <resultMap id="node" type="com.businessdrivenai.domain.model.DiagramNode">
    <id property="identity" column="id" jdbcType="INTEGER" javaType="String"/>
    <association property="description" javaType="com.businessdrivenai.domain.description.NodeDescription">
      <constructor>
        <arg column="type" jdbcType="VARCHAR" javaType="String"/>
        <arg column="logical_entity_id" jdbcType="INTEGER" javaType="com.businessdrivenai.archtype.Ref" typeHandler="com.businessdrivenai.persistence.support.RefIntegerTypeHandler"/>
        <arg column="parent_id" jdbcType="INTEGER" javaType="com.businessdrivenai.archtype.Ref" typeHandler="com.businessdrivenai.persistence.support.RefIntegerTypeHandler"/>
        <arg column="position_x" jdbcType="NUMERIC" javaType="_double"/>
        <arg column="position_y" jdbcType="NUMERIC" javaType="_double"/>
        <arg column="width" jdbcType="INTEGER" javaType="Integer"/>
        <arg column="height" jdbcType="INTEGER" javaType="Integer"/>
        <arg column="style_config" jdbcType="OTHER" typeHandler="com.businessdrivenai.persistence.mybatis.typehandler.JsonBlobHandler" javaType="com.businessdrivenai.archtype.JsonBlob"/>
        <arg column="local_data" jdbcType="OTHER" typeHandler="com.businessdrivenai.persistence.mybatis.typehandler.JsonBlobHandler" javaType="com.businessdrivenai.archtype.JsonBlob"/>
      </constructor>
    </association>
    <association property="logicalEntity" javaType="com.businessdrivenai.persistence.memory.Reference">
      <association property="entity" resultMap="logicalEntity"/>
    </association>
  </resultMap>

  <select id="findNodeByDiagramAndId" resultMap="node">
    SELECT
      dn.id,
      dn.diagram_id,
      dn.type,
      dn.logical_entity_id,
      dn.parent_id,
      dn.position_x,
      dn.position_y,
      dn.width,
      dn.height,
      dn.style_config,
      dn.local_data,
      le.id as le_id,
      le.type as le_type,
      le.sub_type as le_sub_type,
      le.name as le_name,
      le.label as le_label,
      le.definition as le_definition,
      le.status as le_status
    FROM diagram_nodes dn
    JOIN diagrams d ON dn.diagram_id = d.id
    LEFT JOIN logical_entities le ON dn.logical_entity_id = le.id AND le.project_id = d.project_id
    WHERE dn.diagram_id = #{diagram_id} AND dn.id = #{id}
  </select>

  <select id="findNodesByDiagramId" resultMap="node">
    SELECT
      dn.id,
      dn.diagram_id,
      dn.type,
      dn.logical_entity_id,
      dn.parent_id,
      dn.position_x,
      dn.position_y,
      dn.width,
      dn.height,
      dn.style_config,
      dn.local_data,
      le.id as le_id,
      le.type as le_type,
      le.sub_type as le_sub_type,
      le.name as le_name,
      le.label as le_label,
      le.definition as le_definition,
      le.status as le_status
    FROM diagram_nodes dn
    JOIN diagrams d ON dn.diagram_id = d.id
    LEFT JOIN logical_entities le ON dn.logical_entity_id = le.id AND le.project_id = d.project_id
    WHERE dn.diagram_id = #{diagram_id}
    ORDER BY dn.updated_at DESC
  </select>

  <insert id="insertNode" useGeneratedKeys="true" keyProperty="holder.id" keyColumn="id"
          parameterType="com.businessdrivenai.persistence.support.IdHolder">
    INSERT INTO diagram_nodes(diagram_id, type, logical_entity_id, parent_id, position_x, position_y, width, height, style_config, local_data)
    VALUES (#{diagram_id},
            #{description.type},
            #{description.logicalEntity, typeHandler=com.businessdrivenai.persistence.support.RefIntegerTypeHandler},
            #{description.parent, typeHandler=com.businessdrivenai.persistence.support.RefIntegerTypeHandler},
            #{description.positionX},
            #{description.positionY},
            #{description.width},
            #{description.height},
            #{description.styleConfig, typeHandler=com.businessdrivenai.persistence.mybatis.typehandler.JsonBlobHandler},
            #{description.localData, typeHandler=com.businessdrivenai.persistence.mybatis.typehandler.JsonBlobHandler})
  </insert>

  <select id="countNodesByDiagram" resultType="int">
    SELECT COUNT(id) FROM diagram_nodes WHERE diagram_id = #{diagram_id}
  </select>

</mapper>
