<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.businessdrivenai.persistence.mybatis.mappers.DiagramEdgesMapper">

  <resultMap id="edge" type="com.businessdrivenai.domain.model.DiagramEdge">
    <id property="identity" column="id" jdbcType="INTEGER" javaType="String"/>
    <association property="description" javaType="com.businessdrivenai.domain.description.EdgeDescription">
      <constructor>
        <arg column="source_node_id" jdbcType="INTEGER" javaType="com.businessdrivenai.archtype.Ref" typeHandler="com.businessdrivenai.persistence.support.RefIntegerTypeHandler"/>
        <arg column="target_node_id" jdbcType="INTEGER" javaType="com.businessdrivenai.archtype.Ref" typeHandler="com.businessdrivenai.persistence.support.RefIntegerTypeHandler"/>
        <arg column="source_handle" jdbcType="VARCHAR" javaType="String"/>
        <arg column="target_handle" jdbcType="VARCHAR" javaType="String"/>
        <arg column="relation_type" jdbcType="VARCHAR" javaType="String"/>
        <arg column="label" jdbcType="VARCHAR" javaType="String"/>
        <arg column="style_props" jdbcType="OTHER" typeHandler="com.businessdrivenai.persistence.mybatis.typehandler.EdgeStylePropsHandler" javaType="com.businessdrivenai.domain.description.EdgeStyleProps"/>
      </constructor>
    </association>
  </resultMap>

  <select id="findEdgeByDiagramAndId" resultMap="edge">
    SELECT id, diagram_id, source_node_id, target_node_id, source_handle, target_handle, relation_type, label, style_props
    FROM diagram_edges
    WHERE diagram_id = #{diagram_id} AND id = #{id}
  </select>

  <select id="findEdgesByDiagramId" resultMap="edge">
    SELECT id, diagram_id, source_node_id, target_node_id, source_handle, target_handle, relation_type, label, style_props
    FROM diagram_edges
    WHERE diagram_id = #{diagram_id}
    ORDER BY updated_at DESC
  </select>

  <insert id="insertEdge" useGeneratedKeys="true" keyProperty="holder.id" keyColumn="id"
          parameterType="com.businessdrivenai.persistence.support.IdHolder">
    INSERT INTO diagram_edges(diagram_id, source_node_id, target_node_id, source_handle, target_handle, relation_type, label, style_props)
    VALUES (#{diagram_id},
            #{description.sourceNode, typeHandler=com.businessdrivenai.persistence.support.RefIntegerTypeHandler},
            #{description.targetNode, typeHandler=com.businessdrivenai.persistence.support.RefIntegerTypeHandler},
            #{description.sourceHandle},
            #{description.targetHandle},
            #{description.relationType},
            #{description.label},
            #{description.styleProps, typeHandler=com.businessdrivenai.persistence.mybatis.typehandler.EdgeStylePropsHandler})
  </insert>

  <select id="countEdgesByDiagram" resultType="int">
    SELECT COUNT(id) FROM diagram_edges WHERE diagram_id = #{diagram_id}
  </select>

</mapper>
