<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reengineering.ddd.teamai.mybatis.mappers.DiagramEdgesMapper">

  <resultMap id="edge" type="reengineering.ddd.teamai.model.DiagramEdge">
    <id property="identity" column="id" jdbcType="INTEGER" javaType="String"/>
    <association property="description" javaType="reengineering.ddd.teamai.description.EdgeDescription">
      <constructor>
        <arg column="source_node_id" jdbcType="INTEGER" javaType="reengineering.ddd.archtype.Ref" typeHandler="reengineering.ddd.mybatis.support.RefIntegerTypeHandler"/>
        <arg column="target_node_id" jdbcType="INTEGER" javaType="reengineering.ddd.archtype.Ref" typeHandler="reengineering.ddd.mybatis.support.RefIntegerTypeHandler"/>
        <arg column="source_handle" jdbcType="VARCHAR" javaType="String"/>
        <arg column="target_handle" jdbcType="VARCHAR" javaType="String"/>
        <arg column="relation_type" jdbcType="VARCHAR" javaType="String"/>
        <arg column="label" jdbcType="VARCHAR" javaType="String"/>
        <arg column="style_props" jdbcType="OTHER" typeHandler="reengineering.ddd.teamai.mybatis.typehandler.JsonBlobHandler" javaType="reengineering.ddd.archtype.JsonBlob"/>
        <arg column="hidden" jdbcType="BOOLEAN" javaType="java.lang.Boolean"/>
      </constructor>
    </association>
  </resultMap>

  <select id="findEdgeByDiagramAndId" resultMap="edge">
    SELECT id, diagram_id, source_node_id, target_node_id, source_handle, target_handle, relation_type, label, style_props, hidden
    FROM diagram_edges
    WHERE diagram_id = #{diagram_id} AND id = #{id}
  </select>

  <select id="findEdgesByDiagramId" resultMap="edge">
    SELECT id, diagram_id, source_node_id, target_node_id, source_handle, target_handle, relation_type, label, style_props, hidden
    FROM diagram_edges
    WHERE diagram_id = #{diagram_id}
    ORDER BY updated_at DESC
  </select>

  <insert id="insertEdge" useGeneratedKeys="true" keyProperty="holder.id" keyColumn="id"
          parameterType="reengineering.ddd.mybatis.support.IdHolder">
    INSERT INTO diagram_edges(diagram_id, source_node_id, target_node_id, source_handle, target_handle, relation_type, label, style_props, hidden)
    VALUES (#{diagram_id},
            #{description.sourceNode, typeHandler=reengineering.ddd.mybatis.support.RefIntegerTypeHandler},
            #{description.targetNode, typeHandler=reengineering.ddd.mybatis.support.RefIntegerTypeHandler},
            #{description.sourceHandle},
            #{description.targetHandle},
            #{description.relationType},
            #{description.label},
            #{description.styleProps, typeHandler=reengineering.ddd.teamai.mybatis.typehandler.JsonBlobHandler},
            #{description.hidden})
  </insert>

  <delete id="deleteEdgesByDiagram">
    DELETE FROM diagram_edges
    WHERE diagram_id = #{diagram_id}
  </delete>

  <select id="countEdgesByDiagram" resultType="int">
    SELECT COUNT(id) FROM diagram_edges WHERE diagram_id = #{diagram_id}
  </select>

</mapper>
