<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reengineering.ddd.teamai.mybatis.mappers.MessagesMapper">
  <resultMap id="message" type="reengineering.ddd.teamai.model.Message">
    <id property="identity" column="id" jdbcType="BIGINT" javaType="String"/>
    <association property="data" javaType="reengineering.ddd.teamai.data.MessageDescription">
      <constructor>
        <arg column="role" jdbcType="VARCHAR" javaType="String"/>
        <arg column="content" jdbcType="VARCHAR" javaType="String"/>
      </constructor>
    </association>
  </resultMap>
  <select id="findMessageByConversationAndId" resultMap="message">
    select id,
           role,
           content
    from messages
    where conversation_id = #{conversation_id}
      and id = #{id}
  </select>

  <select id="countMessagesByConversation" resultType="int">
    select count(id)
    from messages
    where conversation_id = #{conversation_id}
  </select>

  <insert id="insertMessage" useGeneratedKeys="true" keyProperty="holder.id" keyColumn="id"
          parameterType="reengineering.ddd.mybatis.support.IdHolder">
    insert into messages (conversation_id, role, content)
    values (#{conversation_id}, #{data.role}, #{data.content})
  </insert>

  <select id="subMessagesByConversation" resultMap="message">
    select id,
           role,
           content
    from messages
    where conversation_id = #{conversation_id}
    limit #{size} offset #{from}
  </select>
</mapper>
