<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reengineering.ddd.teamai.mybatis.mappers.ProjectMembersMapper">

  <resultMap id="member" type="reengineering.ddd.teamai.model.Member">
    <id property="identity" column="user_id" jdbcType="VARCHAR" javaType="String"/>
    <association property="description" javaType="reengineering.ddd.teamai.description.MemberDescription">
      <constructor>
        <arg column="user_id" jdbcType="VARCHAR" javaType="reengineering.ddd.archtype.Ref" typeHandler="reengineering.ddd.mybatis.support.RefIntegerTypeHandler"/>
        <arg column="role" jdbcType="VARCHAR" javaType="java.lang.String"/>
      </constructor>
    </association>
  </resultMap>

  <select id="findMembersByProjectId" resultMap="member">
    SELECT pm.user_id, pm.role
    FROM project_members pm
    WHERE pm.project_id = #{project_id}
    ORDER BY pm.joined_at DESC
    LIMIT #{size} OFFSET #{from}
  </select>

  <select id="findMemberByProjectAndUser" resultMap="member">
    SELECT pm.user_id, pm.role
    FROM project_members pm
    WHERE pm.project_id = #{project_id} AND pm.user_id = CAST(#{user_id} AS INTEGER)
  </select>

  <insert id="insertMember">
    INSERT INTO project_members(project_id, user_id, role)
    VALUES (#{project_id}, CAST(#{user_id} AS INTEGER), #{role})
    ON CONFLICT (project_id, user_id) DO UPDATE SET role = EXCLUDED.role
  </insert>

  <select id="countMembersByProject" resultType="int">
    SELECT COUNT(*) FROM project_members WHERE project_id = #{project_id}
  </select>

  <delete id="deleteMember">
    DELETE FROM project_members WHERE project_id = #{project_id} AND user_id = CAST(#{user_id} AS INTEGER)
  </delete>

</mapper>
