<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reengineering.ddd.teamai.mybatis.mappers.ProjectDiagramsMapper">

  <resultMap id="diagram" type="reengineering.ddd.teamai.model.Diagram">
    <id property="identity" column="id" jdbcType="VARCHAR" javaType="String"/>
    <association property="description" javaType="reengineering.ddd.teamai.description.DiagramDescription">
      <constructor>
        <arg column="title" jdbcType="VARCHAR" javaType="String"/>
        <arg column="type" jdbcType="VARCHAR" typeHandler="reengineering.ddd.teamai.mybatis.typehandler.DiagramTypeHandler" javaType="reengineering.ddd.teamai.model.DiagramType"/>
        <arg column="viewport" jdbcType="OTHER" typeHandler="reengineering.ddd.teamai.mybatis.typehandler.ViewportHandler" javaType="reengineering.ddd.teamai.description.Viewport"/>
      </constructor>
    </association>
    <association property="nodes" javaType="reengineering.ddd.teamai.mybatis.associations.DiagramNodes">
      <result column="id" property="diagramId" javaType="int"/>
    </association>
    <association property="edges" javaType="reengineering.ddd.teamai.mybatis.associations.DiagramEdges">
      <result column="id" property="diagramId" javaType="int"/>
    </association>
  </resultMap>

  <select id="findDiagramByProjectAndId" resultMap="diagram">
    SELECT id, project_id, title, type, viewport
    FROM diagrams
    WHERE project_id = #{project_id} AND id = #{id}
  </select>

  <select id="findDiagramsByProjectId" resultMap="diagram">
    SELECT id, project_id, title, type, viewport
    FROM diagrams
    WHERE project_id = #{project_id}
    ORDER BY updated_at DESC
    LIMIT #{size} OFFSET #{from}
  </select>

  <insert id="insertDiagram" useGeneratedKeys="true" keyProperty="holder.id" keyColumn="id"
          parameterType="reengineering.ddd.mybatis.support.IdHolder">
    INSERT INTO diagrams(project_id, title, type, viewport)
    VALUES (#{project_id}, #{description.title},
            #{description.type, typeHandler=reengineering.ddd.teamai.mybatis.typehandler.DiagramTypeHandler},
            #{description.viewport, typeHandler=reengineering.ddd.teamai.mybatis.typehandler.ViewportHandler})
  </insert>

  <select id="countDiagramsByProject" resultType="int">
    SELECT COUNT(id) FROM diagrams WHERE project_id = #{project_id}
  </select>

</mapper>
