<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reengineering.ddd.teamai.mybatis.mappers.ProjectsMapper">

  <resultMap id="project" type="reengineering.ddd.teamai.model.Project">
    <id property="identity" column="id" jdbcType="VARCHAR" javaType="String"/>
    <association property="description" javaType="reengineering.ddd.teamai.description.ProjectDescription">
      <constructor>
        <arg column="name" jdbcType="VARCHAR" javaType="String"/>
      </constructor>
    </association>
    <association property="members" javaType="reengineering.ddd.teamai.mybatis.associations.ProjectMembers">
      <result column="id" property="projectId" javaType="int"/>
    </association>
    <association property="conversations" javaType="reengineering.ddd.teamai.mybatis.associations.ProjectConversations">
      <result column="id" property="projectId" javaType="int"/>
    </association>
    <association property="logicalEntities" javaType="reengineering.ddd.teamai.mybatis.associations.ProjectLogicalEntities">
      <result column="id" property="projectId" javaType="int"/>
    </association>
    <association property="diagrams" javaType="reengineering.ddd.teamai.mybatis.associations.ProjectDiagrams">
      <result column="id" property="projectId" javaType="int"/>
    </association>
  </resultMap>

  <select id="findProjectById" resultMap="project">
    SELECT p.id, p.name
    FROM projects p
    WHERE p.id = #{id}
  </select>

  <select id="findAllProjects" resultMap="project">
    SELECT p.id, p.name
    FROM projects p
    ORDER BY p.id DESC
    LIMIT #{size} OFFSET #{from}
  </select>

  <select id="countAllProjects" resultType="int">
    SELECT COUNT(*) FROM projects
  </select>

  <select id="findProjectMemberIds" resultType="int">
    SELECT user_id FROM project_members WHERE project_id = #{id}
  </select>

  <delete id="deleteProject">
    DELETE FROM project_members WHERE project_id = #{id};
    DELETE FROM diagram_edges WHERE diagram_id IN (SELECT id FROM diagrams WHERE project_id = #{id});
    DELETE FROM diagram_nodes WHERE diagram_id IN (SELECT id FROM diagrams WHERE project_id = #{id});
    DELETE FROM diagrams WHERE project_id = #{id};
    DELETE FROM messages WHERE conversation_id IN (SELECT id FROM conversations WHERE project_id = #{id});
    DELETE FROM conversations WHERE project_id = #{id};
    DELETE FROM logical_entities WHERE project_id = #{id};
    DELETE FROM projects WHERE id = #{id}
  </delete>

 </mapper>
