<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.businessdrivenai.persistence.mybatis.mappers.ProjectsMapper">

  <resultMap id="project" type="com.businessdrivenai.domain.model.Project">
    <id property="identity" column="id" jdbcType="VARCHAR" javaType="String"/>
    <association property="description" javaType="com.businessdrivenai.domain.description.ProjectDescription">
      <constructor>
        <arg column="name" jdbcType="VARCHAR" javaType="String"/>
      </constructor>
    </association>
    <association property="members" javaType="com.businessdrivenai.persistence.mybatis.associations.ProjectMembers">
      <result column="id" property="projectId" javaType="int"/>
    </association>
    <association property="conversations" javaType="com.businessdrivenai.persistence.mybatis.associations.ProjectConversations">
      <result column="id" property="projectId" javaType="int"/>
    </association>
    <association property="logicalEntities" javaType="com.businessdrivenai.persistence.mybatis.associations.ProjectLogicalEntities">
      <result column="id" property="projectId" javaType="int"/>
    </association>
    <association property="diagrams" javaType="com.businessdrivenai.persistence.mybatis.associations.ProjectDiagrams">
      <result column="id" property="projectId" javaType="int"/>
    </association>
  </resultMap>

  <select id="findProjectById" resultMap="project">
    SELECT p.id, p.name
    FROM projects p
    WHERE p.id = #{id}
  </select>

</mapper>
