<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reengineering.ddd.teamai.mybatis.mappers.ProjectBizDiagramsMapper">

  <resultMap id="bizDiagram" type="reengineering.ddd.teamai.model.BizDiagram">
    <id property="identity" column="id" jdbcType="VARCHAR" javaType="String"/>
    <association property="description" javaType="reengineering.ddd.teamai.description.BizDiagramDescription">
      <constructor>
        <arg column="name" jdbcType="VARCHAR" javaType="String"/>
        <arg column="description" jdbcType="VARCHAR" javaType="String"/>
        <arg column="plantuml_code" jdbcType="VARCHAR" javaType="String"/>
        <arg column="diagram_type" jdbcType="VARCHAR" javaType="reengineering.ddd.teamai.model.DiagramType" typeHandler="reengineering.ddd.teamai.mybatis.typehandler.DiagramTypeHandler"/>
      </constructor>
    </association>
  </resultMap>

  <select id="findDiagramByProjectAndId" resultMap="bizDiagram">
    SELECT bd.id, bd.name, bd.description, bd.plantuml_code, bd.diagram_type
    FROM biz_diagrams bd
    WHERE bd.project_id = #{project_id} AND bd.id = #{id}
  </select>

  <insert id="insertDiagram" useGeneratedKeys="true" keyProperty="holder.id" keyColumn="id"
          parameterType="reengineering.ddd.mybatis.support.IdHolder">
    INSERT INTO biz_diagrams(name, description, plantuml_code, diagram_type, project_id)
    VALUES (#{description.name}, #{description.description},
            #{description.plantumlCode}, #{description.diagramType, typeHandler=reengineering.ddd.teamai.mybatis.typehandler.DiagramTypeHandler}::diagram_type_enum, #{project_id})
  </insert>

  <select id="findDiagramsByProjectId" resultMap="bizDiagram">
    SELECT bd.id, bd.name, bd.description, bd.plantuml_code, bd.diagram_type
    FROM biz_diagrams bd
    WHERE bd.project_id = #{project_id}
    LIMIT #{to} OFFSET #{from}
  </select>

  <select id="countDiagramsByProject" resultType="int">
    SELECT COUNT(id) FROM biz_diagrams WHERE project_id = #{project_id}
  </select>

  <delete id="deleteDiagram">
    DELETE FROM biz_diagrams
    WHERE project_id = #{project_id} AND id = #{id}
  </delete>
</mapper>
