<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reengineering.ddd.teamai.mybatis.mappers.UsersMapper">
  <resultMap id="user" type="reengineering.ddd.teamai.model.User">
    <id property="identity" column="id" jdbcType="BIGINT" javaType="String"/>
    <association property="description" javaType="reengineering.ddd.teamai.description.UserDescription">
      <constructor>
        <arg column="name" jdbcType="VARCHAR" javaType="String"/>
        <arg column="email" jdbcType="VARCHAR" javaType="String"/>
      </constructor>
    </association>
    <association property="accounts" javaType="reengineering.ddd.teamai.mybatis.associations.UserAccounts">
      <result column="id" property="userId" javaType="int"/>
      <collection property="list" resultMap="reengineering.ddd.teamai.mybatis.mappers.AccountsMapper.account"
                  ofType="reengineering.ddd.teamai.model.Account"/>
    </association>
    <association property="conversations" javaType="reengineering.ddd.teamai.mybatis.associations.UserConversations">
      <result column="id" property="userId" javaType="int"/>
    </association>
  </resultMap>

  <select id="findUserById" resultMap="user">
    select u.id,
           u.name,
           u.email,
           a.id as account_id,
           a.provider,
           a.provider_id
    from users u
           left join accounts a on u.id = a.user_id
    where u.id = #{id}
  </select>

  <insert id="insertUser" useGeneratedKeys="true" keyProperty="holder.id" keyColumn="id"
          parameterType="reengineering.ddd.mybatis.support.IdHolder">
    insert into users (name, email)
    values (#{description.name}, #{description.email}) on conflict (email) do nothing
  </insert>
</mapper>
