<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>
    <typeHandlers>
        <typeHandler handler="reengineering.ddd.teamai.mybatis.typehandler.EntityDefinitionHandler"/>
        <typeHandler handler="reengineering.ddd.teamai.mybatis.typehandler.DiagramTypeHandler"/>
        <typeHandler handler="reengineering.ddd.teamai.mybatis.typehandler.ViewportHandler"/>
        <typeHandler handler="reengineering.ddd.teamai.mybatis.typehandler.SubTypeHandler"/>
        <typeHandler handler="reengineering.ddd.teamai.mybatis.typehandler.EdgeRelationTypeHandler"/>
    </typeHandlers>
    <objectFactory type="reengineering.ddd.mybatis.support.InjectableObjectFactory"/>
</configuration>
