spring:
  main:
    banner-mode: "off"
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/teamai
    username: ${DB_USERNAME:teamai}
    password: ${DB_PASSWORD:teamai}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  flyway:
    clean-disabled: false
    locations: classpath:db.migration
    baseline-on-migrate: true
  jersey:
    application-path: /api
  ai:
    deepseek:
      api-key: ${DEEPSEEK_API_KEY}
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=10m
mybatis:
  mapper-locations: classpath:mybatis.mappers/**/*.xml
  config-location: classpath:mybatis-config.xml
logging:
  level:
    root: info
