spring:
  main:
    banner-mode: 'off'
  autoconfigure:
    exclude:
      - org.springframework.ai.model.deepseek.autoconfigure.DeepSeekChatAutoConfiguration
  jersey:
    application-path: /api
    type: filter

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope: user:email
            redirect-uri: '{baseUrl}/login/oauth2/code/github'
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user

jwt:
  secret: ${JWT_SECRET:default-secret-key-for-development-only-change-in-production}
  expiration-ms: ${JWT_EXPIRATION_MS:86400000}

mybatis:
  mapper-locations: classpath:mybatis.mappers/**/*.xml
  config-location: classpath:mybatis-config.xml

logging:
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss} - %msg%n'
    file: '%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n'
